name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: eu-central-1

    - name: Build the Docker image
      run: |
        aws ecr get-login-password --region eu-central-1 | docker login --username AWS --password-stdin public.ecr.aws/a7r6g6m0
        docker build . --file Dockerfile --tag public.ecr.aws/a7r6g6m0/faster-api:${{ github.sha }}
        docker push public.ecr.aws/a7r6g6m0/faster-api:${{ github.sha }}
